footer {
    /* border: solid black; */
    /* padding: 3px; */
    text-align: center;
    font-weight: bold;
    background-color: #343a40;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 5px solid #85A88A;
    margin-top: 2rem;
}
.foot-text {
    color: #85A88A;
    padding: .5rem;
    margin: 2px;
    font-weight: lighter;
    font-size: 10px;
    font-family: sans-serif;

}
.footer {
    background-color: #85A88A;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
}
